# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [1]:

# todo:
from pandas import Series

In [4]:
lista = [1,2,3,4,5]
nueva_serie = Series(lista)
nueva_serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
capitales = {"Argentina": "Buenos Aires", "Colombia": "Bogota", "Estados Unidos": "Washington D.C", "Japon": "Tokio"}
paises = Series(capitales)
paises

Argentina           Buenos Aires
Colombia                  Bogota
Estados Unidos    Washington D.C
Japon                      Tokio
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [14]:

# todo:
dias = {1: "Lavar la ropa", 2: "Cocinar", 3: "Limpiar el piso", 4: "Cocinar", 5: "Sacar la Basura", 6: "Tender la Cama", 7: "Buscar Verduras"}
quehaceres = Series(dias)
quehaceres

1      Lavar la ropa
2            Cocinar
3    Limpiar el piso
4            Cocinar
5    Sacar la Basura
6     Tender la Cama
7    Buscar Verduras
dtype: object

In [15]:
print("Metodo head():")
quehaceres.head(4)

Metodo head():

1      Lavar la ropa
2            Cocinar
3    Limpiar el piso
4            Cocinar
dtype: object

In [16]:
print("Metodo tail():")
quehaceres.tail(4)

Metodo tail():

4            Cocinar
5    Sacar la Basura
6     Tender la Cama
7    Buscar Verduras
dtype: object

In [21]:
quehaceres[2] = "planchar"
quehaceres[4] = "fregar el auto"
quehaceres[6] = "limpiar la zapatilla"
quehaceres.head(7)

1           Lavar la ropa
2                planchar
3         Limpiar el piso
4          fregar el auto
5         Sacar la Basura
6    limpiar la zapatilla
7         Buscar Verduras
dtype: object

In [23]:
quehaceres[2] = "Bañar al perro"
quehaceres[4] = "tender la ropa"
quehaceres[6] = "limpiar la mesa"
quehaceres.tail(6)

2     Bañar al perro
3    Limpiar el piso
4     tender la ropa
5    Sacar la Basura
6    limpiar la mesa
7    Buscar Verduras
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [25]:

# todo:7
lista_1 = [1,2,3,4,5]
valores_uno = Series(lista_1)
valores_uno

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
lista_2 = [2, 4, 6, 8, 10]
valores_dos = Series(lista_2)
valores_dos

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
# Suma
valores_uno + valores_dos

0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64

In [29]:
# Resta
valores_uno - valores_dos

0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64

In [30]:
# Multiplicacion
valores_uno * valores_dos

0     2
1     8
2    18
3    32
4    50
dtype: int64

In [31]:
# Division
valores_dos / valores_uno

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
dtype: float64

In [32]:
# Primera potencia
valores_uno ** 2

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [33]:
# Segunda potencia
valores_uno ** 4

0      1
1     16
2     81
3    256
4    625
dtype: int64

In [34]:
# Tercera potencia
valores_uno ** 6

0        1
1       64
2      729
3     4096
4    15625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [55]:

# todo:
personas = {"Federico": 30, "Santiago": 22, "Mateo": 10, "Agustin": 15, "Maria": 14, "Juan": 18, "Marcelo": 22, "Cristian": 25, "Brandon": 16, "Tomas": 27}
edades = Series(personas)
edades

Federico    30
Santiago    22
Mateo       10
Agustin     15
Maria       14
Juan        18
Marcelo     22
Cristian    25
Brandon     16
Tomas       27
dtype: int64

In [56]:
# Mostrar mayores de edad
edades > 17

Federico     True
Santiago     True
Mateo       False
Agustin     False
Maria       False
Juan         True
Marcelo      True
Cristian     True
Brandon     False
Tomas        True
dtype: bool

In [63]:
# Mostrar menores de edad
edades = Series(personas, dtype=object)
edades[edades < 18] = "Menor de edad"
edades

Federico               30
Santiago               22
Mateo       Menor de edad
Agustin     Menor de edad
Maria       Menor de edad
Juan                   18
Marcelo                22
Cristian               25
Brandon     Menor de edad
Tomas                  27
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo: